/* ---- Landscape Devices ---- */

@font-face {
    font-family: MinecraftRegular;
    src: url("assets/minecraft-font/MinecraftRegular-Bmg3.otf");
}

@font-face {
    font-family: MinecraftItalic;
    src: url("assets/minecraft-font/MinecraftItalic-R8Mo.otf");
}

* {
    font-family: MinecraftRegular;
    user-select: none;
}

/* --- Scrollbar --- */

::-webkit-scrollbar {
    width: 8vmin;
    max-width: 25px;
    height: 8vmin;
    max-height: 25px;
}

::-webkit-scrollbar-track {
    border-top: 2px solid rgb(51, 50, 50);
    border-right: 2px solid rgb(255, 254, 254);
    border-bottom: 2px solid rgb(254, 255, 255);
    border-left: 2px solid rgb(57, 56, 56);
    background-color: rgb(138, 139, 139);
}

::-webkit-scrollbar-thumb {
    border-top: 2px solid rgb(254, 255, 255);
    border-right: 2px solid rgb(57, 56, 56);
    border-bottom: 2px solid rgb(51, 50, 50);
    border-left: 2px solid rgb(255, 254, 254);
    background-color: rgb(194, 195, 195);
}

@media (pointer:coarse) {
    ::-webkit-scrollbar {
        display: none;
    }
}

/* --- Components --- */

/* -- Error -- */

#errorBorder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.575);
    z-index: 20;
}

#error {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(51, 50, 50);
    background-image: url("./assets//imgs//backgrounds/error-bg.jpg");
    background-position: center;
    background-size: cover;
    max-width: 1000px;
    width: 70%;
    height: 50%;
    border: 3px solid rgb(51, 50, 50);
    font-size: 2.5vmin;
}

#errorContent {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.452);
    gap: 5dvh;
}

#errorContent>* {
    margin: 0 3vmin;
    word-wrap: break-word;
}

#errorCode {
    margin-top: 3vmin;
    color: rgb(255, 170, 0);
}

#errorTitle {
    color: rgb(255, 84, 84);
}

#errorContent .button {
    width: fit-content;
    height: fit-content;
}

/* -- Achievements -- */

#achievements {
    position: absolute;
    right: 0;
    translate: 110%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 5px;
    animation: slide 9s forwards ease;
}

@keyframes slide {
    0% {
        translate: 110%;
    }

    35% {
        translate: 0;
    }

    65% {
        translate: 0;
    }

    100% {
        translate: 110%;
    }
}

.achievement,
#maintenanceNotice {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas:
        "achievementImage achievementTitle"
        "achievementImage achievementText";
    justify-content: center;
    align-items: center;
    gap: 0 15px;
    background-color: rgb(34, 34, 34);
    padding: 5px 10px;
    border: 3px solid rgb(87, 87, 87);
    border-radius: 5px;
    font-size: 20px;
    width: auto;
}

.achievementTitle {
    grid-area: achievementTitle;
    margin: 0;
    font-size: 4vmin;
    font-weight: normal;
}

.achievementDescription {
    grid-area: achievementText;
    margin: 0;
    font-size: 3.5vmin;
}

.achievementIcon {
    grid-area: achievementImage;
    width: 8vmin;
    height: 8vmin;
}

/* -- InfoWindow -- */

#infoWindow {
    position: absolute;
    background-color: rgb(19, 2, 18);
    border: rgb(33, 8, 66) solid 0.3vmin;
    box-shadow: 0 0 0 0.3vmin black;
    border-radius: 5px;
    color: rgb(170, 170, 170);
    margin: 0 50px;
    padding: 0.5vmin;
    font-size: 3vmin;
    z-index: 10;
    width: fit-content;
    max-width: 250px;
    translate: 0 -50%;
}

#infoTitle {
    font-size: 25px;
}

#infoText {
    font-size: 20px;
    width: fit-content;
    max-width: 250px;
}

/* -- Button -- */

.button {
    padding: 1vmin;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    font-size: 2vmin;
    text-wrap: nowrap;
    cursor: pointer;
}

/* - Green - */

.greenButton {
    background-color: rgb(59, 132, 39);
    border-top: 1vmin solid rgb(101, 157, 80);
    border-right: 1vmin solid rgb(28, 63, 19);
    border-bottom: 1vmin solid rgb(22, 79, 14);
    border-left: 1vmin solid rgb(66, 115, 52);
}

.greenButton:hover {
    background-color: rgb(53, 113, 36);
    border-top: 1vmin solid rgb(93, 144, 74);
    border-right: 1vmin solid rgb(25, 56, 17);
    border-bottom: 1vmin solid rgb(19, 71, 13);
    border-left: 1vmin solid rgb(54, 95, 43);
    color: #dbdbdb;
}

/* - Gray - */

.grayButton {
    background-color: rgb(132, 132, 132);
    border-top: 1vmin solid rgb(157, 157, 157);
    border-right: 1vmin solid rgb(63, 63, 63);
    border-bottom: 1vmin solid rgb(79, 79, 79);
    border-left: 1vmin solid rgb(115, 115, 115);
}

/* -- StoneButton & StoneSlider -- */

.stoneButton,
.disabledStoneButton,
.stoneSlider {
    display: flex;
    border: 0.3vmin black solid;
    background-color: black;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.disabledStoneButton,
.disabledStoneButton>button {
    cursor: default !important;
}

.stoneButton:hover {
    border: white 0.3vmin solid;
    background-color: white;
}

.stoneButton>button,
.disabledStoneButton>button {
    display: flex;
    background-image: url("./assets/imgs/backgrounds/button-bg.png");
    background-size: auto 100%;
    width: 100%;
    min-width: 8vmin;
    height: 8vmin;
    padding: 0.5vmin;
    color: rgb(255, 255, 255);
    border-top: gray 0.7vmin solid;
    border-right: rgb(88, 88, 88) 0.7vmin solid;
    border-bottom: rgb(88, 88, 88) 1.4vmin solid;
    border-left: gray 0.7vmin solid;
    font-size: 3.7vmin;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.stoneButton img,
.disabledStoneButton img {
    max-height: 80%;
    max-width: 80%;
}

.stoneSlider>input {
    position: relative;
    width: 100%;
    min-width: 30dvw;
    padding: 0 0.3vmin;
    color: rgb(255, 255, 255);
    cursor: pointer;
    appearance: none;
    background-image: url("./assets/imgs/backgrounds/button-bg.png");
    background-size: auto 100%;
    border: none;
    outline: none;
    overflow: hidden;
}

.stoneSlider>input::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    pointer-events: none;
}

.stoneSlider>input::-webkit-slider-thumb {
    appearance: none;
    position: relative;
    width: 5vmin;
    height: 7vmin;
    margin: 0.3vmin 0;
    background-image: url("./assets/imgs/backgrounds/button-bg.png");
    background-size: auto 100%;
    border-top: gray 0.7vmin solid;
    border-right: rgb(88, 88, 88) 0.7vmin solid;
    border-bottom: rgb(88, 88, 88) 1.4vmin solid;
    border-left: gray 0.7vmin solid;
    box-shadow: 0 0 0 0.3vmin black;
    cursor: pointer;
    z-index: 2;
}

.stoneSlider>input::-webkit-slider-thumb:hover {
    box-shadow: 0 0 0 0.3vmin white;
}

/* --- Wrapper --- */

html,
body,
#wrapper {
    width: 100dvw;
    height: 100dvh;
    padding: 0;
    margin: 0;
    color: rgb(255, 255, 255);
}

#wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color: rgb(194, 195, 195);
    overflow: hidden;
}

/* -- Main Menu -- */

#mainMenu {
    display: grid;
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 50vmin;
}

/* - Background - */

#background {
    position: absolute;
    top: 50%;
    left: 50%;
    animation: spin 120s infinite linear forwards;
    transform-style: preserve-3d;
    perspective: 100vmax;
}

@keyframes spin {
    0% {
        transform: translateZ(50vmin) rotateY(0deg);
    }

    100% {
        transform: translateZ(50vmin) rotateY(360deg);
    }
}

.panoramaPicture {
    position: absolute;
    background-color: black;
    width: calc(100vmin + 2px);
    height: calc(100vmin + 2px);
    background-size: cover;
}

#panoramaPicture0 {
    transform: translateX(-50vmin) translateY(-50vmin) translateZ(-50vmin);
}

#panoramaPicture1 {
    transform: translateY(-50vmin) rotateY(-90deg);
}

#panoramaPicture2 {
    transform: translateX(-50vmin) translateY(-50vmin) translateZ(50vmin) rotateY(180deg);
}

#panoramaPicture3 {
    transform: translateX(-100vmin) translateY(-50vmin) rotateY(90deg);
}

#panoramaPicture4 {
    transform: translateX(-50vmin) translateY(-100vmin) rotateX(-90deg);
}

#panoramaPicture5 {
    transform: translateX(-50vmin) rotateX(90deg);
}

/* - Menu - */

#menu {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: min-content min-content auto min-content;
    grid-template-areas:
        "title title title"
        ". mainButtons ."
        "leftSideButtons additionalButtons rightSideButtons"
        "footer footer footer";
    gap: 3vmin 1.6vmin;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.account {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
    height: min-content;
    margin: 10px;
    cursor: pointer;
    z-index: 10;
}

.profileBorder {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    width: 5vmin;
    height: 5vmin;
    background-size: contain;
    background-position: center;
    overflow: hidden;
}

.profilePicture {
    width: 100%;
    height: 100%;
    grid-column: 2 / 16;
    grid-row: 2 / 16;
    object-fit: cover;
    object-position: top left;
}

.profileName {
    margin: 0;
    font-weight: normal;
    font-size: 5vmin;
}

#craftleTitle {
    grid-area: title;
    width: min-content;
    justify-self: center;
    position: relative;
    margin: 13vmin 0 5vmin 0;
}

#craftdleLogo {
    height: 15vmin;
}

#yellowText {
    width: 31vw;
    max-width: max-content;
    position: absolute;
    right: 5%;
    bottom: 30%;
    transform: translate(50%, 50%) rotate(-20deg);
    color: rgb(255, 255, 0);
    font-size: 3.5vmin;
    animation-name: message;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    text-align: center;
}

@keyframes message {
    50% {
        scale: 1.05;
    }
}

#maintenanceNotice {
    display: block;
    position: absolute;
    margin: 5px;
    z-index: 2;
}

#maintenanceNoticeTitle {
    margin: 0;
    font-size: 3vmin;
    font-weight: normal;
}

#maintenanceNoticeCountdown {
    margin: 0;
    color: rgb(255, 85, 255);
    font-size: 2.5vmin;
}

#menu nav {
    gap: 1.6vmin;
}

#mainButtons {
    grid-area: mainButtons;
    display: flex;
    flex-direction: column;
}

#additionalButtons {
    grid-area: additionalButtons;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content;
    flex-direction: column;
}

.sideButtons {
    display: flex;
    flex-direction: column;
}

#leftSideButtons {
    grid-area: leftSideButtons;
    align-items: end;
}

#rightSideButtons {
    grid-area: rightSideButtons;
    align-items: start;
}

#mainMenu footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    padding: 5px;
}

#footerInfo {
    display: flex;
    flex-direction: column;
}

#disclaimer {
    margin: 0;
    font-size: 10px;
    text-align: end;
    justify-self: end;
    align-self: flex-end;
}

#userAuth {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    min-width: 300px;
    background-color: rgb(38, 38, 38);
    padding: 20px;
    gap: 20px;
    border-radius: 25px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content auto;
    z-index: 2;
}

#authExit {
    justify-self: flex-end;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    background-image: url("./assets/imgs/icons/reject.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: sepia(40%) hue-rotate(90deg) saturate(550%);
    cursor: pointer;
}

#authExit:hover {
    background-image: url("./assets//imgs//icons//reject_highlighted.png");
}

#userAuthNav {
    display: flex;
    gap: 10px;
}

.authForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.authForm>div:not(.checkRow) {
    display: flex;
    flex-direction: column;
}

.checkRow {
    display: flex;
    align-items: center;
    gap: 5px;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s !important;
}

.authForm input {
    background-color: rgb(19, 19, 19);
    color: white;
    border: solid 3px transparent;
    padding: 5px;
}

.authForm input:not([type=checkbox]):focus {
    border: rgb(81, 81, 81) solid 3px;
    border-radius: 5px;
    outline: none;
}

.authForm input[type=checkbox] {
    width: 20px;
    height: 20px;
    appearance: none;
    cursor: pointer;
}

.authForm input[type=checkbox]:checked {
    background-image: url("./assets/imgs/icons/checkmark.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.inputError {
    display: block;
    color: rgb(170, 0, 0);
    font-size: 13px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.link {
    color: rgb(0, 170, 0);
    font-weight: bold;
}

.authForm button {
    height: min-content;
}

/* -- Settings & Gamemodes -- */

#settings,
#gamemodes,
#stats,
#patchNotes {
    background-image: url("./assets/imgs/backgrounds/dirt-bg.png");
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content auto min-content;
    width: 100dvw;
    height: 100dvh;
}

#settingsHeader h1,
#gamemodesHeader h1,
#statsHeader h1 {
    text-align: center;
    font-weight: normal;
    margin-top: 0;
}

#settingsHeader,
#settingsFooter,
#gamemodesHeader,
#gamemodesFooter,
#statsHeader {
    padding: 2vmin;
    box-shadow: 0 0 5dvh 1dvh black;
    z-index: 3;
}

#settingsHeader>nav,
#settingsFooter>div,
#gamemodesFooter>div,
#gamemodesHeader>nav {
    display: flex;
    margin: auto;
    gap: 5vmin;
    justify-content: center;
}

#settingsHeader>nav {
    width: 70vmin;
}

#settingsHeader>nav>* {
    flex-basis: 100%;
}

#settingsFooter>div>*,
#gamemodesFooter>div>* {
    width: 20dvw;
    min-width: max-content;
}

#settingsMain,
#gamemodesMain,
#statsMain {
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
    padding: 5px;
}

/* - Settings Content - */

#settingsList {
    display: grid;
    grid-template-columns: fit-content min-content min-content;
    justify-content: center;
    align-items: center;
    gap: 2vmin;
    width: fit-content;
    margin: 2vmin auto;
}

.settingsLabel {
    text-align: center;
    font-weight: normal;
    grid-column: 1/4;
    margin: 0;
}

#settingsList>span {
    font-size: 4vmin;
}

/* - Gamemodes Content - */

#gamemodesList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vmin;
    margin: 2vmin auto;
}

#gamemodesList>article {
    display: grid;
    grid-template-columns: min-content auto 1fr 10vmin;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "icon name difficulty warning"
        "icon description description warning";
    width: 100%;
    max-width: 60dvw;
    align-items: start;
    justify-content: start;
    gap: 10px 20px;
    padding: 4px;
    border: 2px solid transparent;
}

.selectedGamemode {
    background-color: black;
    border: 2px solid rgb(170, 170, 170) !important;
}

.gamemodeIcon {
    grid-area: icon;
    width: 15vmin;
    height: 15vmin;
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-self: center;
}

.playButton {
    display: none;
    width: 100%;
    background-image: url("./assets/imgs/icons/play.png");
    background-color: transparent;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    margin: 0;
    padding: 0;
    background-color: rgba(110, 110, 110, 0.5);
}

#gamemodesList>article:hover .playButton {
    display: block;
}

.playButton:hover {
    background-image: url("./assets//imgs/icons/play_highlighted.png");
}

.gamemodeName {
    grid-area: name;
    font-weight: normal;
    font-size: 4vmin;
    margin: 0;
}

.gamemodeDifficulty {
    grid-area: difficulty;
    font-size: 3vmin;
    align-self: self-end;
}

.gamemodeDescription {
    grid-area: description;
    margin: 0;
    font-size: 2vmin;
    color: rgb(170, 170, 170);
}

.gamemodeWarning {
    grid-area: warning;
    background-image: url('./assets/imgs/icons/error_highlighted.png');
    width: 100%;
    height: 100%;
    background-position: left;
    background-size: cover;
}

/* --- Game --- */

#game {
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: min-content min-content min-content min-content 1fr;
    grid-template-areas:
        "exitButton inventoryAndKnowledgeBook"
        "craftingTable inventoryAndKnowledgeBook"
        "hearts inventoryAndKnowledgeBook"
        "hints inventoryAndKnowledgeBook"
        "tips inventoryAndKnowledgeBook";
    padding: 0.5dvh;
    gap: 2vmin;
    height: min-content
}

/* -- General -- */

/* - Slot - */

.slot,
.hintContainer,
.tipSlot,
.recipeSlot {
    width: 8vmin;
    height: 8vmin;
    border-top: 0.2vmin solid rgb(51, 50, 50);
    border-right: 0.2vmin solid rgb(255, 254, 254);
    border-bottom: 0.2vmin solid rgb(254, 255, 255);
    border-left: 0.2vmin solid rgb(57, 56, 56);
    padding: 0;
    background-color: rgb(138, 139, 139);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0.05vmin;
}

.slotButton {
    width: 8vmin;
    height: 8vmin;
    border-top: 0.2vmin solid rgb(254, 255, 255);
    border-right: 0.2vmin solid rgb(57, 56, 56);
    border-bottom: 0.2vmin solid rgb(51, 50, 50);
    border-left: 0.2vmin solid rgb(255, 254, 254);
    padding: 0;
    background-color: rgb(194, 195, 195);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0.05vmin;
    border-radius: 25%;
}

.slot>img,
.cursorItem,
.tipSlot>img,
.recipeSlot>img {
    max-width: 90%;
    max-height: 90%;
}

.slotButton>img {
    max-width: 100%;
    max-height: 100%;
}

/* - Buttons - */

#game>nav {
    display: flex;
    gap: 20px;
}

#game>nav .stoneButton {
    width: fit-content;
    height: fit-content;
}

#game>nav .stoneButton>button {
    height: fit-content;
    font-size: 2vmin;
}

/* - Crafting Table - */

#craftingTable {
    grid-area: craftingTable;
    display: grid;
    grid-template-columns: min-content max-content min-content min-content;
    grid-template-rows: min-content min-content;
    grid-template-areas:
        ". craftingTitle craftingTitle ."
        "craftingBook craftingTable craftingArrow craftedItem";
    align-items: center;
    gap: 0 2vmin;
}

#craftingTitle {
    grid-area: craftingTitle;
    margin: 0;
    color: rgb(85, 85, 85);
    font-weight: normal;
    font-size: 5vmin;
}

#craftingBook {
    grid-area: craftingBook;
}

#craftingTable table,
.tipCraftingTable,
.recipeCraftingTable {
    grid-area: craftingTable;
    border-collapse: collapse;
}

.recipeCraftingTable tr {
    height: min-content;
    line-height: 0;
}

#craftingArrow {
    grid-area: craftingArrow;
    width: 10vmin;
}

#craftedItem {
    grid-area: craftedItem;
    padding: 1vmin;
}

/* - Hints - */

#hints {
    grid-area: hints;
}

#hintsTitle {
    margin: 0;
    color: rgb(85, 85, 85);
    font-weight: normal;
    font-size: 3vmin;
}

#hintsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1vmin;
}

#hints .button {
    font-size: 2.5vmin;
}

.hintSlot {
    display: grid;
    height: 8vh;
}

.hintContainer {
    width: auto;
    height: auto;
    text-align: center;
    font-size: 2vmin;
}

/* - Inventory & Knowledge Book - */

#inventory,
#knowledgeBook {
    grid-area: inventoryAndKnowledgeBook;
    display: grid;
    grid-template-rows: min-content auto;
    padding-bottom: 2vmin;
    height: 97dvh;
}

#inventoryHeader,
#knowledgeBookHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px 10px 0;
    justify-self: stretch;
    flex-wrap: wrap;
}

#inventoryTitle,
#knowledgeBookTitle {
    margin: 0;
    color: rgb(85, 85, 85);
    font-weight: normal;
    font-size: 3vmin;
}

.searchBar {
    height: min-content;
    background-color: rgb(55, 54, 54);
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 20px;
}

.searchIcon {
    height: 30px;
}

.search {
    margin: 0;
    padding: 0;
    background-color: rgb(1, 0, 1);
    color: rgb(124, 125, 124);
    font-family: MinecraftRegular;
    border: 2px solid rgb(158, 158, 159);
    padding: 5px;
    font-size: 15px;
}

.search::placeholder {
    color: rgb(124, 125, 124);
    font-family: MinecraftItalic;
}

#inventoryContainer,
#knowledgeBookContainer {
    overflow-y: auto;
}

#inventoryContent,
#knowledgeBookContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: 2px;
}

#selectedInventorySlot {
    background-color: rgb(59, 132, 39);
    border-top: 0.2vmin solid rgb(101, 157, 80);
    border-right: 0.2vmin solid rgb(28, 63, 19);
    border-bottom: 0.2vmin solid rgb(22, 79, 14);
    border-left: 0.2vmin solid rgb(66, 115, 52);
}

/* - Knowledge Book's recipe - */

#knowledgeBookContent {
    gap: 1vmin;
}

.recipeContent {
    width: auto;
    height: auto;
    border-radius: 0;
    padding: 2vmin;
}

/* - Hearts - */

#hearts {
    grid-area: hearts;
}

#heartsTitle {
    margin: 0;
    color: rgb(85, 85, 85);
    font-weight: normal;
    font-size: 3vmin;
}

#heartsContainer {
    display: flex;
    justify-content: start;
    gap: 1vmin;
}

#hearts img {
    height: 5vmin;
}

/* - Tips - */

#tips {
    grid-area: tips;
    align-self: self-end;
    display: grid;
    grid-template-rows: min-content auto;
    height: 100%;
}

#tipsTitle {
    margin: 0;
    color: rgb(85, 85, 85);
    font-weight: normal;
    font-size: 3vmin;
}

#tipsContainer {
    overflow-y: auto;
}

#tipsContent {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 4vmin;
}

.tipContent,
.recipeContent {
    display: flex;
    gap: 3vmin;
    align-items: center;
}

.tipSlot {
    width: 4vmin;
    height: 4vmin;
}

.tipCraftingArrow {
    width: 6vmin;
}

#tips .wrong {
    background-color: rgb(176, 46, 38);
}

#tips .semi-correct {
    background-color: rgb(255, 170, 0);
}

#tips .correct {
    background-color: rgb(59, 132, 39);
}

/* - Cursor - */

#pickedUpItem {
    position: absolute;
    width: 8vmin;
    height: 8vmin;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    translate: -50% -50%;
    pointer-events: none;
}

/* -- Maintenance -- */

#maintenance {
    width: 100dvw;
    height: 100dvh;
    margin: 0;
    padding: 0;
    background-image: url("./assets/imgs/backgrounds/maintenance-bg.png");
    background-size: cover;
    display: grid;
    grid-template-columns: min-content auto;
    overflow: hidden;
}

#maintenanceMessage {
    background-color: #00000093;
    padding: 5vmin;
    width: 461px;
    max-width: 90dvw;
    font-size: 2dvh;
    text-align: center;
    overflow: hidden;
}

#craftdleMaintenanceTitle {
    width: 70vmin;
    max-width: 100%;
}

#maintenanceTitle {
    color: rgb(85, 255, 255);
    text-align: start;
    font-size: 4dvh;
}

#maintenanceMessage p {
    text-align: start;
    font-size: 2dvh;
}

#maintenanceCountdown {
    display: block;
    color: rgb(255, 85, 255);
    font-size: 2dvh;
}

/* -- Credits -- */

#credits {
    display: block;
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
    text-decoration: none;
    color: rgb(170, 170, 170);
    background-image: url("./assets/imgs/backgrounds/dirt-bg.png");
    position: relative;
    font-size: 4vmin;
}

#creditsCraftdleTitle {
    max-width: 60dvw;
    max-height: 60dvh;
    object-fit: contain;
}

#creditsContainer {
    width: 100%;
    position: absolute;
    top: 100%;
    text-align: center;
    animation: scrollUp 60s linear forwards;
}

@keyframes scrollUp {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(calc(-110% - 100vh));
    }
}

#credits article {
    margin: 10vmin 0;
}

#credits article article {
    margin: 6vmin 0;
}

#credits h1,
#credits h2,
#credits h3 {
    margin: 0;
}

#credits h1 {
    font-size: 6vmin;
    color: rgb(255, 170, 0);
}

#credits h2 {
    font-size: 5vmin;
    color: rgb(255, 85, 255);
}

#credits h3 {
    font-size: 4vmin;
    color: rgb(85, 255, 255);
}

.creditTextContainer,
.creditMessageContainer {
    display: grid;
    gap: 4vmin;
    margin: 2vmin 0;
}

.creditTextContainer {
    grid-template-columns: 1fr 1fr;
}

.creditTitle {
    justify-self: end;
}

.creditText {
    justify-self: start;
    text-align: start;
}

.creditMessageContainer .creditText {
    justify-self: center;
    text-align: center;
}

/* -- Patch Notes -- */

#patchNotes {
    background-image: url("./assets/imgs/backgrounds/stone_bricks-bg.png");
    color: rgb(0, 0, 0);
    grid-template-rows: min-content 1fr;
}

#patchNotesHeader,
#statsHeader {
    background-image: url("./assets/imgs/backgrounds/log.png");
    background-size: contain;
    padding: 10px;
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 10px;
    box-shadow: 0 0 3vmin 3vmin black;
    z-index: 2;
}

#patchNotesHeader h1,
#statsHeader h1 {
    margin: 0;
}

#patchNotesHeader .stoneButton,
#patchNotes button,
#statsHeader .stoneButton,
#stats button {
    width: fit-content;
    height: max-content;
}

#patchNotesContainer{
    overflow-y: auto;
}

#patchNotesBackground {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10vmin;
    padding: 0 10vmin 15dvh 10vmin;
}

#patchNotes .chain {
    position: absolute;
    background-image: url("./assets/imgs/backgrounds/chain.png");
    background-color: rgb(0, 0, 0);
    background-size: contain;
    width: 5dvw;
    box-shadow: 0 0 3vmin 2vmin black;
    top: 0;
    bottom: 15dvh;
}

#leftChain {
    left: 10vmin;
}

#rightChain {
    right: 10vmin;
}

.patchNote {
    background-image: url("./assets/imgs/backgrounds/sign.png");
    background-size: 50vmin;
    padding: 5vmin;
    box-shadow: 0 0 3vmin 2vmin black;
    z-index: 1;
    font-size: 3vmin;
}

.patchNote:nth-child(3) {
    margin-top: 10vmin;
}

#patchNotes ul {
    list-style: square;
}

#patchNotes h1 {
    justify-self: center;
    margin: 0;
    color: rgb(255, 255, 255);
}

#patchNotes h2 {
    color: rgb(0, 170, 170);
}

#patchNotes .new {
    color: rgb(85, 255, 85);
}

#patchNotes .change {
    color: rgb(255, 255, 85);
}

#patchNotes .remove {
    color: rgb(255, 85, 85);
}

/* -- Docs -- */

#docs {
    color: rgb(170, 170, 170);
    width: auto;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background-image: url("./assets/imgs/backgrounds/sign.png");
    background-size: 30vmin;
    padding: 0 10vw;
    font-size: 3vmin;
}

#docs header {
    height: min-content;
}

#docs img {
    width: 100%;
}

#docs main {
    background-image: url("./assets/imgs/backgrounds/book_inner.png");
    background-size: contain;
    padding: 1px 10vw;
}

#docs #backToMainArrow {
    display: block;
    width: 10vmin;
    height: 10vmin;
    background-image: url("./assets/imgs/icons/page_backward.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#docs #backToMainArrow:hover {
    background-image: url("./assets/imgs/icons/page_backward_highlighted.png");
}

#docs h1 {
    color: rgb(85, 85, 255);
}

#docs h2 {
    color: rgb(0, 170, 0);
}

#docs ul {
    list-style: square;
}

#docs ol>li::marker {
    color: rgb(0, 170, 0);
    font-size: 4.5vmin;
    font-weight: bold;
}

#docs b {
    color: rgb(255, 85, 85)
}

#docs ul {
    color: rgb(255, 85, 255);
    font-weight: bold;
}

/* -- Guide -- */

#guide {
    display: grid;
    grid-template-columns: max-content auto;
    height: 100dvh;
    color: rgb(85, 85, 85);
}

#guide b:not(.indicator) {
    color: rgb(255, 85, 85);
}

#guide .stoneButton button {
    font-size: 3vmin;
    height: min-content;
}

/* - Content Table - */

#guideContentTable {
    overflow-y: auto;
    padding: 0.5vmin;
    background-image: url("./assets/imgs/backgrounds/sign.png");
    background-size: 10vmin;
}

#guideContentTable ul {
    margin-bottom: 20px;
    padding-left: 20px;
    line-height: 20px;
}

#guideContentTable>ul {
    padding: 0;
    margin: 2vmin 5vmin;
}

#guideContentTable li {
    list-style: none;
}

#guideContentTable>ul a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#guideContentTable>ul a:hover {
    color: rgb(255, 85, 255);
}

/* - Content - */

#guideContent {
    overflow-y: auto;
    padding: 2vmin;
    scroll-behavior: smooth;
    font-size: 4vmin;
}

#guideContent .stoneButton {
    width: min-content;
    display: none;
}

#guideContent li {
    list-style: square;
}

#controlContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#controlContent>article {
    flex-flow: 100%;
    width: 30%;
}

#controlContent>article video {
    width: 100%;
}

#redIndicator {
    color: rgb(170, 0, 0);
}

#yellowIndicator {
    color: rgb(255, 170, 0);
}

#greenIndicator {
    color: rgb(0, 170, 0);
}

/* -- Stats -- */

#statsHeader {
    background: transparent;
}

#statsMain {
    font-size: 4vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#stats .account {
    position: unset;
    margin: 0;
    cursor: auto;
}

#stats .account .profileName {
    font-size: 8vmin;
}

#stats .account .profileBorder {
    width: 8vmin;
    height: 8vmin;
}

@media (pointer:coarse) {
    ::-webkit-scrollbar {
        display: none;
    }
}

/* ---- Portrait Devices ---- */

@media (orientation: portrait) {
    /* --- Main Menu --- */

    #userAuth .button {
        font-size: 4dvw;
    }

    #menu {
        grid-template-rows: 1fr min-content min-content 1fr;
    }

    #craftleTitle,
    #menu footer {
        align-self: self-end;
    }

    /* --- Settings --- */

    #settingsHeader>nav>*,
    #settingsFooter>div>*,
    #gamemodesFooter>div>* {
        width: 25dvw;
        min-width: max-content;
    }

    /* --- Gamemodes --- */

    #gamemodesList>article {
        max-width: none;
        width: auto;
    }

    .gamemodeDescription {
        grid-area: description;
        margin: 0;
        font-size: 4vmin;
        color: rgb(170, 170, 170);
    }

    /* --- Patch Notes --- */

    .patchNote {
        font-size: 4vmin;
    }

    #patchNotesHeader .stoneButton button {
        font-size: 4vmin;
    }

    /* --- Docs --- */

    #docs {
        font-size: 4vmin;
        padding: 0 5px;
    }

    #docs ol>li::marker {
        font-size: 6vmin;
    }

    /* --- Error --- */

    #error {
        background-position: right;
        font-size: 4vmin;
    }

    #errorContent {
        width: auto;
    }

    #errorContent .button {
        font-size: 4vmin;
    }

    /* --- Game --- */

    #game {
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content min-content min-content min-content 1fr;
        grid-template-areas:
            "exitButton"
            "inventoryAndKnowledgeBook"
            "craftingTable"
            "hearts"
            "hints"
            "tips";
        padding: 5px;
        gap: 2vmin;
        height: auto;
    }

    #game>nav .stoneButton {
        flex-basis: 100%;
    }

    #game>nav .stoneButton button {
        font-size: 3vmin;
    }

    #inventory,
    #knowledgeBook {
        height: fit-content;
    }

    #inventoryHeader,
    #knowledgeBookHeader {
        padding: 5px;
        justify-content: center;
        flex-direction: column;
    }

    #inventoryTitle,
    #knowledgeBookTitle,
    #hintsTitle,
    #tipsTitle {
        font-size: 3.5vmin;
    }

    .searchIcon {
        height: 20px;
    }

    .search {
        height: 10px;
        font-size: 10px;
    }

    #inventoryContent,
    #knowledgeBookContent {
        flex-flow: column;
        flex-wrap: wrap;
        width: 100%;
        max-width: max-content;
        justify-content: center;
        max-height: 25dvh;
        margin: auto;
    }

    #craftingTable {
        justify-self: center;
    }

    .hintSlot {
        height: min-content;
    }

    #hints .button {
        font-size: 3.4vmin;
        padding: 5px;
    }

    /* --- Guide --- */

    #guide {
        grid-template-columns: 100dvw;
    }

    #guideContentTable {
        display: none;
    }

    #guideContent .stoneButton {
        display: block;
    }

    #controlContent>article {
        width: auto;
    }
}