@font-face {
    font-family: MinecraftRegular;
    src: url("assets/minecraft-font/MinecraftRegular-Bmg3.otf");
}

@font-face {
    font-family: MinecraftItalic;
    src: url("assets/minecraft-font/MinecraftItalic-R8Mo.otf");
}

*{
    font-family: MinecraftRegular;
}

/* --- Components --- */

/* -- Button -- */

.button{
    padding: 1vmin;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    font-size: 2vmin;
    text-wrap: nowrap;
    cursor: pointer;
}

/* - Green - */
.greenButton{
    background-color: rgb(59, 132, 39);
    border-top: 1vmin solid rgb(101, 157, 80);
    border-right: 1vmin solid rgb(28, 63, 19);
    border-bottom: 1vmin solid rgb(22, 79, 14);
    border-left: 1vmin solid rgb(66, 115, 52);
}

.greenButton:hover{
    background-color: rgb(53, 113, 36);
    border-top: 1vmin solid rgb(93, 144, 74);
    border-right: 1vmin solid rgb(25, 56, 17);
    border-bottom: 1vmin solid rgb(19, 71, 13);
    border-left: 1vmin solid rgb(54, 95, 43);
    color: #dbdbdb;
}

/* - Gray - */
.grayButton{
    background-color: rgb(132, 132, 132);
    border-top: 1vmin solid rgb(157, 157, 157);
    border-right: 1vmin solid rgb(63, 63, 63);
    border-bottom: 1vmin solid rgb(79, 79, 79);
    border-left: 1vmin solid rgb(115, 115, 115);
}

/* -- StoneButton -- */
.stoneButton{
    display: flex;
    border: 0.3vmin black solid;
    background-color: black;
    text-decoration: none;
    align-items: center;
    justify-content: cente
}

.stoneButton:hover{
    border: white 0.3vmin solid;
    background-color: white;
}

.stoneButton > button{
    display: flex;
    background-image: url("./assets/imgs/button-bg.png");
    background-size: auto 100%;
    width: 100%;
    min-width: 8vmin;
    height: 8vmin;
    padding: 0;
    color: rgb(255, 255, 255);
    border-top: gray 0.7vmin solid;
    border-right: rgb(88, 88, 88) 0.7vmin solid;
    border-bottom: rgb(88, 88, 88) 1.4vmin solid;
    border-left: gray 0.7vmin solid;
    font-size: 3.7vmin;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.stoneButton img{
    max-height: 80%;
    max-width: 80%;
}

/* --- Wrapper --- */
html,
body,
#wrapper {
    width: 100dvw;
    height: 100dvh;
    padding: 0;
    margin: 0;
    color: rgb(255, 255, 255);
}

/* -- Main Menu -- */
#mainMenu{
    display: grid;
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 50vmin;
}

/* - Background - */
#background{
    position: absolute;
    top: 50%;
    left: 50%;
    animation: spin 120s infinite linear forwards;
    transform-style: preserve-3d;
    perspective: 100vmax;
}

@keyframes spin {
    0% {
        transform: translateZ(50vmin) rotateY(0deg);
    }
    100% {
        transform: translateZ(50vmin) rotateY(360deg);
    }
}

.panoramaPicture{
    position: absolute;
    background-color: black;
    width: calc(100vmin + 2px);
    height: calc(100vmin + 2px);
    background-size: cover;
}

#panoramaPicture0{
    transform: translateX(-50vmin) translateY(-50vmin) translateZ(-50vmin);
}

#panoramaPicture1{
    transform: translateY(-50vmin) rotateY(-90deg);
}

#panoramaPicture2{
    transform: translateX(-50vmin) translateY(-50vmin) translateZ(50vmin) rotateY(180deg);
}

#panoramaPicture3{
    transform: translateX(-100vmin) translateY(-50vmin) rotateY(90deg);
}

#panoramaPicture4{
    transform: translateX(-50vmin) translateY(-100vmin) rotateX(-90deg);
}

#panoramaPicture5{
    transform: translateX(-50vmin) rotateX(90deg);
}

/* - Menu - */

#menu{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: min-content min-content min-content auto min-content;
    grid-template-areas: 
    "title title title"
    ". maintenance ."
    ". mainButtons ."
    "leftSideButtons additionalButtons rightSideButtons"
    "footer footer footer";
    gap: 3vmin 1.6vmin;
    height: 100%;
    width: 100%;
    z-index: 1;
}

#account{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
    height: min-content;
    margin: 10px;
    cursor: pointer;
}

#profileBorder{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    width: 32px;
    height: 32px;
    background-size: contain;
    background-position: center;
    overflow: hidden;
}

#profilePicture{
    width: 100%;
    height: 100%;
    grid-column: 2 / 16;
    grid-row: 2 / 16;
    object-fit: cover;
    object-position: top left;
}

#profileName{
    margin: 0;
}

#craftleTitle{
    grid-area: title;
    width: min-content;
    justify-self: center;
    position: relative;
    padding-top: 5vmin;
}

#craftdleLogo{
    height: 20vmin;
}

#yellowText{
    width: 31vw;
    max-width: max-content;
    position: absolute;
    right: 10%;
    bottom: 50%;
    transform: translate(50%, 50%) rotate(-20deg);
    color: rgb(255, 255, 0);
    font-size: 3.5vmin;
    animation-name: message;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    text-align: center;
}

@keyframes message {
    50% {
        scale: 1.05;
    }
}

#menu nav{
    gap: 1.6vmin;
}

#mainButtons{
    grid-area: mainButtons;
    display: flex;
    flex-direction: column;
}

#additionalButtons{
    grid-area: additionalButtons;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content;
    flex-direction: column;
}

.sideButtons{
    display: flex;
    flex-direction: column;
}

#leftSideButtons{
    grid-area: leftSideButtons;
    align-items: end;
}

#rightSideButtons{
    grid-area: rightSideButtons;
    align-items: start;
}

#mainMenu footer{
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    padding: 5px;
}

#footerInfo{
    display: flex;
    flex-direction: column;
}

#disclaimer{
    margin: 0;
    font-size: 10px;
    text-align: end;
    justify-self: end;
    align-self: flex-end;
}

#userAuth{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-color: rgb(38, 38, 38);
    width: 360px;
    height: 550px;
    padding: 20px;
    gap: 20px;
    border-radius: 25px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content auto;
    z-index: 2;
}

#authExit{
    justify-self: flex-end;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    background-image: url("./assets/imgs/icons/reject.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: sepia(40%) hue-rotate(90deg) saturate(550%);
    cursor: pointer;
}

#authExit:hover{
    background-image: url("./assets//imgs//icons//reject_highlighted.png");
}

#userAuthNav{
    display: flex;
    gap: 10px;
}

.authForm{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.authForm > .authFormInputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.authForm > .authFormInputs > div:not(.checkRow){
    display: flex;
    flex-direction: column;
}

.checkRow{
    display: flex;
    align-items: center;
    gap: 5px;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}

.authForm input{
    background-color: rgb(19, 19, 19);
    color: white;
    border: solid 3px transparent;
    padding: 5px;
}

.authForm input:not([type = checkbox]):focus{
    border: rgb(81, 81, 81) solid 3px;
    border-radius: 5px;
    outline: none;
}

.authForm input[type = checkbox]{
    width: 20px;
    height: 20px;
    appearance: none;
    cursor: pointer;
}

.authForm input[type = checkbox]:checked{
    background-image: url("./assets/imgs/icons/checkmark.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.link{
    color: rgb(0, 170, 0);
    font-weight: bold;
}

.authForm button{
    height: min-content;
}